<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />       
    </startup>
  <appSettings>
    <add key="mailAdress" value="" />     <!--Тут прописываем адрес почты, с которого будет осуществляться отправка-->
    <add key="mailPassword" value="" />   <!--Пароль для внешних приложений (настраивается в SMPT)-->
  </appSettings>
  <connectionStrings>
    <add name="connectToLoggerDB" connectionString="Server=localhost;Database=LoggerDB;Trusted_Connection=True;" 
 providerName="System.Data.SqlClient" />  <!--Строка подключения к серверу-->
  </connectionStrings>
</configuration>